body {
    display:flex;
    flex-direction: column;
    background-color: #EEEEEE;
    font-family: 'Assistant', sans-serif;
}   
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile-header {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current-job {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current-job h4{
    font-weight: 400;
    font-size: medium;
    color: gray;
    letter-spacing: 1.5px;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 24px;
    /* Adds a 24px margin below the profile photo */
}


.name {
    margin-top: 8px;
    text-align: center;
    /* Adds a 24px margin above the h2 element */
}

#job-title {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.job {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

ion-icon {
    font-size: 24px;
    margin: 0 12px;
    color: black
}

.links .facebook {
    color: #3b5998;
}

.links .twitter {
    color: #00acee;
}

.links .linkedin {
    color: #0e76a8;
}

.links .github {
    color: #505050;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.about-me {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 12px;
}

.description {
    font-size: 12;
    line-height: 1.2;
    text-align: justify;
    text-justify: inter-word;
    max-width: 800px;
    margin-top: 12px;
    margin-bottom: 4px;
    align-self: flex-start;
}

#experience {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.exp {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 12px;
}

.exp-desc {
    font-size: 12;
    line-height: 1.2;
    text-align: justify;
    max-width: 800px;
    margin-top: 2px;
    margin-bottom: 12px;
    align-self: flex-start;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.education h4 {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 12px;
}
.education p {
    font-size: 12;
    line-height: 1.2;
    text-align: justify;
    max-width: 800px;
    margin-top: 2px;
    margin-bottom: 12px;
    align-self: flex-start;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.proj {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 12px;
}

.proj-desc {
    font-size: 12;
    line-height: 1.2;
    text-align: justify;
    max-width: 800px;
    margin-top: 2px;
    margin-bottom: 48px;
    align-self: flex-start;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#contact p {
    font-size: 12;
    line-height: 1.2;
    text-align: justify;
    max-width: 800px;
    margin-top: 4px;
    margin-bottom: 12px;
    align-self: flex-start;
}
#contact a {
    text-decoration: none;
    color: #004894;
}

.ft-message {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-top: 48px;
    font-size: small;
    
}
.ft-message a{
    color: #004894;
}

footer a {
    text-decoration: none;
    color:#004894;
}

/* The switch - the box around the slider */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff9012,#f3f029 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }

  #toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }